// Want custom (global) variables?
// See if you can find them in 'node_modules/bootstrap/scss/_variables.scss'.
// Then copy them here and change them.
$body-bg: #afc8b4;
$body-color: #584654;
$card-bg: #8db195;
$link-color: #584654;
$component-active-bg: #628f6c;
$success: #628f6c;
