// Want custom (global) variables?
// See if you can find them in 'node_modules/bootstrap/scss/_variables.scss'.
// Then copy them here and change them.
$body-bg: #ffcdcd;
$body-color: #794b4b;
$card-bg: #ffbaba;
$link-color: #6b425b;
$component-active-bg: #ffa3a3;
